*{
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 6fr;
    grid-template-rows: .75fr 6fr;
}

.sidebar{
    background-color: rgb(218, 16, 16);
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: .75fr 2.25fr 6.75fr;
    padding-left: 20px;
    font-size: 1.1rem;
}

.top{
    align-self: start;
    padding-top: 10px;
}

.mid, .bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottom{
    padding-top: 36px;
}

.header{
    background-color: rgb(24, 24, 24);
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 3fr;
    padding-top: 10px;
}

.headtopleft{
    grid-column: 1 / 2;
    padding-left: 40px;
    padding-top: 10px;
    align-self: end;
}

input{
    border-radius: 8px;
    width: clamp(250px, 80%, 1000px);
}

.headtopright{
    grid-column: 2;
    gap: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right:20px;
}

.headbottomleft{
    display: grid;
    grid-template-columns: 140px 4fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.headbottomleft svg{
    grid-row: 1 / 4;
    justify-self: center;
}

.headbottomleft h4{
    align-self: end;
}

.headbottomleft h2{
    align-self: start;
}

.headbottomright{
    display:flex;
    gap:20px;
    margin-top: 20px;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
}

button{
    border-radius: 16px;
    background-color:  rgb(218, 16, 16);
    height: 40px;
    width: 100px
}

.main{
    background-color: rgb(59, 58, 58);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 60px;
}

.leftgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .01fr .75fr .75fr .75fr;
    gap: 20px;
    margin: 20px 0 20px 20px;
    grid-row: 1 / 3;
}

.leftgrid > h3{
    align-self: end;
}

.project{
    background-color: rgb(78, 78, 78);
    border-radius: 8px;
    box-shadow: 3px 3px rgb(34, 34, 34);
    padding: 20px;
    color: rgb(211, 211, 211);
}

.rightgridtop{
    display: grid;
    grid-template-rows: .01fr 1fr;
    gap: 20px;
    margin: 20px;
}

.announcements{
    background-color: rgb(78, 78, 78);
    border-radius: 8px;
    box-shadow: 3px 3px rgb(34, 34, 34);
    padding: 20px;
}

.announcements p{
    padding-bottom: 40px;
    color: rgb(211, 211, 211);
}

.announcements p:last-child{
    padding-bottom: 0;
}

.rightgridbottom{
    display: grid;
    grid-template-rows: .01fr 1fr;
    gap: 20px;
    padding: 0 20px;
}

.people{
    background-color: rgb(78, 78, 78);
    border-radius: 8px;
    box-shadow: 3px 3px rgb(34, 34, 34);
    padding: 20px;
    margin-bottom: 20px;
    
}

.people p{
    padding-bottom: 40px;
}

svg{
    height: 30px;
}

.top svg{
    height: 60px;
}

.top,
.mid div,
.bottom div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.mid, .bottom{
    padding-left: 15px;
}

.headtopleft{
    display: flex;
    gap: 10px;
}

.headtopleft svg,
.headtopright svg,
.headbottomleft svg,
.trend svg{
    fill: white;
}

.headbottomleft svg{
    height: 100px;
}

.trend svg{
    height: 70px;
}

.trend{
    display: grid;
    grid-template-columns: 50px .75fr;
    grid-template-rows: 32px 1fr;
}

.trend svg{
    grid-row: 1 / 3;
    justify-self: center;
}

.trend h5{
    align-self: end;
}

.trend h5,
.trend p{
    padding-left: 20px;
}